# ML Preprocessing for Real Estate Southern Spain

This notebook is for machine learning preprocessing tasks.

In [311]:
import numpy as np
import pandas as pd
from collections import Counter
from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import OneHotEncoder

In [312]:
# Load data
# Add your preprocessing code here

In [313]:
df = pd.read_csv('../data/properties.csv')
pd.set_option('display.float_format', '{:,.0f}'.format)
#pd.reset_option('display.float_format')
df_real = df.copy()
df.columns = df.columns.str.strip()

In [314]:
df.head()#df.columns

,reference,location,price,title,bedrooms,bathrooms,indoor surface area in sqm,outdoor surface area in sqm,pipe-separed list of features of the property
0,R126116,"Nueva Andalucía, Costa del Sol","€450,000",3 Bedroom Apartment,3,2,120,NaN,Close to Shops|Electricity Utilities|Close to ...
1,R132516,"Puerto Banús, Costa del Sol","€1,250,000",Other,1,504,NaN,NaN,Electricity Utilities|Close to Town|Street Vie...
2,R121563,"Antequera, Costa del Sol","€749,000",12 Bedroom Finca,12,7,366,"5,353",Mountain Views|Private Garden|Open Parking|Urb...
3,R127293,"La Mairena, Costa del Sol","€500,000",Plot,"3,470",NaN,NaN,NaN,Mountain Views|Private Garden|Electricity Util...
4,R114041,"Benalmadena, Costa del Sol","€1,695,000",4 Bedroom Detached Villa,4,4,634,"1,000",Private Garden|Electricity Utilities|Drinkable...

In [315]:
df['price'] = (
    df['price']
    .astype(str)
    .str.replace(r'[^\d.,]', '', regex=True) 
    .str.replace(',', '')                     
    .astype(float)
)

df['features'] = (
    df['pipe-separed list of features of the property']
    .str.lower()
    .str.split('|')
)

df['property_type'] = (
    df['title']
    .str.replace(r'^\d+\s*Bedroom(s)?\s*', '', regex=True)
    .str.replace(r'^\d+\s*', '', regex=True)    
    .str.strip()
)

print(df['property_type'].unique())

df['y'] = np.log(df['price'])
df.describe()

['Apartment' 'Other' 'Finca' 'Plot' 'Detached Villa' 'Semi-detached'
 'Penthouse' 'Town House' 'Detached' 'Warehouse' 'Commercial Property'
 'Land' 'Guest House' 'Hospitality' 'Commercial Development' 'Shop'
 'Property' 'Bar / Nightclub' 'Equestrian Facility' 'Restaurant' 'Office'
 'Sheltered Housing' 'Bungalow' 'House' 'Farm' 'Ground Flat' 'Parking'
 'Garage' 'Cafe' 'Storage' 'Studio' 'Duplex' 'Cave House']

,price,bedrooms,bathrooms,indoor surface area in sqm,outdoor surface area in sqm,y
count,"12,086","12,084","10,952","10,414","3,821","12,086"
mean,"1,046,977","2,534","1,076",233,"11,132",13
std,"1,881,298","98,531","46,365",265,"196,065",1
min,"4,500",0,0,10,1,8
25%,"285,000",2,2,100,401,13
50%,"475,000",3,2,144,"1,009",13
75%,"995,000",5,4,269,"2,342",14
max,"50,000,000","9,700,000","4,630,000","5,367","9,350,000",18

In [316]:
non_residential = {
    'Plot', 'Land', 'Commercial Property', 'Commercial Development',
    'Warehouse', 'Shop', 'Office', 'Restaurant', 'Bar / Nightclub',
    'Cafe', 'Parking', 'Garage', 'Storage', 'Property', 'Other'
}

df.loc[df['property_type'].isin(non_residential), 'bedrooms'] = np.nan
df.loc[df['property_type'].isin(non_residential), 'bathrooms'] = np.nan
df.head()

,reference,location,price,title,bedrooms,bathrooms,indoor surface area in sqm,outdoor surface area in sqm,pipe-separed list of features of the property,features,property_type,y
0,R126116,"Nueva Andalucía, Costa del Sol","450,000",3 Bedroom Apartment,3,2,120,NaN,Close to Shops|Electricity Utilities|Close to ...,"[close to shops, electricity utilities, close ...",Apartment,13
1,R132516,"Puerto Banús, Costa del Sol","1,250,000",Other,NaN,NaN,NaN,NaN,Electricity Utilities|Close to Town|Street Vie...,"[electricity utilities, close to town, street ...",Other,14
2,R121563,"Antequera, Costa del Sol","749,000",12 Bedroom Finca,12,7,366,"5,353",Mountain Views|Private Garden|Open Parking|Urb...,"[mountain views, private garden, open parking,...",Finca,14
3,R127293,"La Mairena, Costa del Sol","500,000",Plot,NaN,NaN,NaN,NaN,Mountain Views|Private Garden|Electricity Util...,"[mountain views, private garden, electricity u...",Plot,13
4,R114041,"Benalmadena, Costa del Sol","1,695,000",4 Bedroom Detached Villa,4,4,634,"1,000",Private Garden|Electricity Utilities|Drinkable...,"[private garden, electricity utilities, drinka...",Detached Villa,14

In [317]:
df['location'] = df['location'].str.strip()
df[['city', 'region']] = df['location'].str.split(',', n=1, expand=True)
df['city'] = df['city'].str.strip()
df['region'] = df['region'].str.strip()

df['city'].nunique()

226

In [318]:
train_df, test_df = train_test_split(
    df,
    test_size=0.2,
    random_state=42
)

In [319]:
tr, val = train_test_split(
    train_df,
    test_size=0.2,
    random_state=42
)

limit = {}
for col in ['price', 'indoor surface area in sqm', 'outdoor surface area in sqm']:
    limit[col] = tr[col].quantile(0.995)

limit['bedrooms'] = tr['bedrooms'].quantile(0.99)
limit['bathrooms'] = tr['bathrooms'].quantile(0.99)

def apply_caps(df, limit):
    df = df.copy()
    for col, cap in limit.items():
        df[col] = df[col].clip(upper=cap)
    return df

tr = apply_caps(tr, limit)
val = apply_caps(val, limit)
test_df = apply_caps(test_df, limit)

In [320]:
global_mean = tr['y'].mean()

city_stats = (
    tr.groupby('city')['y']
    .agg(['mean', 'count'])
)

k = 20
city_stats['mean'] = (
    (city_stats['count'] * city_stats['mean'] + k * global_mean) /
    (city_stats['count'] + k)
)

def add_city_mean(df):
    return df.assign(
        city_mean=df['city'].map(city_stats['mean']).fillna(global_mean)
    )

tr = add_city_mean(tr)
val = add_city_mean(val)
test_df = add_city_mean(test_df)

In [321]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
ohe.fit(tr[['property_type']])

ohe_cols = ohe.get_feature_names_out(['property_type'])

def apply_ohe(df):
    ohe_arr = ohe.transform(df[['property_type']])
    df[ohe_cols] = ohe_arr
    return df

tr = apply_ohe(tr)
val = apply_ohe(val)
test_df = apply_ohe(test_df)

In [322]:
#df['features'] = df['pipe-separed list of features of the property'].str.split('|')

counts = Counter(tr["features"].explode().str.strip())
top_10 = counts.most_common(30)
top_10.append(("Other", 1))
d = dict(top_10)
names = list(d.keys())
names

['fully fitted kitchen',
 'private terrace',
 'air conditioning climate control',
 'fitted wardrobes',
 'close to shops',
 'covered terrace',
 'electricity utilities',
 'close to schools',
 'excellent condition',
 'communal pool',
 'south orientation',
 'sea views',
 'mountain views',
 'urbanisation',
 'ensuite bathroom',
 'close to sea',
 'communal garden',
 'gated complex security',
 'near transport',
 'garden views',
 'double glazing',
 'drinkable water utilities',
 'close to town',
 'storage room',
 'resale',
 'lift',
 'close to golf',
 'investment',
 'panoramic views',
 'private parking',
 'Other']

In [323]:
def add_feature_cols(df, features):
    for f in features:
        df[f] = df['features'].apply(
            lambda x: int(f in x) if isinstance(x, str) else 0
        )
    return df

tr = add_feature_cols(tr, names)
val = add_feature_cols(val, names)
test_df = add_feature_cols(test_df, names)

In [324]:
tr['price_log'] = np.log1p(tr['price'])
val['price_log'] = np.log1p(val['price'])

for col in ['indoor surface area in sqm', 'outdoor surface area in sqm']:
    tr[f'{col}_log'] = np.log1p(tr[col])
    val[f'{col}_log'] = np.log1p(val[col])
    test_df[f'{col}_log'] = np.log1p(test_df[col])

y_tr = tr['price_log']
y_val = val['price_log']

X_tr = tr.drop(columns=['price', 'price_log'])
X_val = val.drop(columns=['price', 'price_log'])

In [326]:
feature_cols = (['city_mean', 'bedrooms', 'bathrooms','indoor surface area in sqm',
     'outdoor surface area in sqm'] + names + list(ohe_cols))

X_tr = tr[feature_cols]
X_val = val[feature_cols]
X_test = test_df[feature_cols]

In [327]:
X_tr.info()
print()
X_tr.tail()
#for col in df.select_dtypes(include=['object']).columns:
#    print(f"Unique values in {col}: {df[col].nunique()}")

<class 'pandas.core.frame.DataFrame'>
Index: 7734 entries, 9102 to 9047
Data columns (total 68 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   city_mean                             7734 non-null   float64
 1   bedrooms                              6694 non-null   float64
 2   bathrooms                             6681 non-null   float64
 3   indoor surface area in sqm            6641 non-null   float64
 4   outdoor surface area in sqm           2429 non-null   float64
 5   fully fitted kitchen                  7734 non-null   int64
 6   private terrace                       7734 non-null   int64
 7   air conditioning climate control      7734 non-null   int64
 8   fitted wardrobes                      7734 non-null   int64
 9   close to shops                        7734 non-null   int64
 10  covered terrace                       7734 non-null   int64
 11  electricity utilities                 7734 non-null   int64
 12  close to schools                      7734 non-null   int64
 13  excellent condition                   7734 non-null   int64
 14  communal pool                         7734 non-null   int64
 15  south orientation                     7734 non-null   int64
 16  sea views                             7734 non-null   int64
 17  mountain views                        7734 non-null   int64
 18  urbanisation                          7734 non-null   int64
 19  ensuite bathroom                      7734 non-null   int64
 20  close to sea                          7734 non-null   int64
 21  communal garden                       7734 non-null   int64
 22  gated complex security                7734 non-null   int64
 23  near transport                        7734 non-null   int64
 24  garden views                          7734 non-null   int64
 25  double glazing                        7734 non-null   int64
 26  drinkable water utilities             7734 non-null   int64
 27  close to town                         7734 non-null   int64
 28  storage room                          7734 non-null   int64
 29  resale                                7734 non-null   int64
 30  lift                                  7734 non-null   int64
 31  close to golf                         7734 non-null   int64
 32  investment                            7734 non-null   int64
 33  panoramic views                       7734 non-null   int64
 34  private parking                       7734 non-null   int64
 35  Other                                 7734 non-null   int64
 36  property_type_Apartment               7734 non-null   float64
 37  property_type_Bar / Nightclub         7734 non-null   float64
 38  property_type_Bungalow                7734 non-null   float64
 39  property_type_Cafe                    7734 non-null   float64
 40  property_type_Commercial Development  7734 non-null   float64
 41  property_type_Commercial Property     7734 non-null   float64
 42  property_type_Detached                7734 non-null   float64
 43  property_type_Detached Villa          7734 non-null   float64
 44  property_type_Duplex                  7734 non-null   float64
 45  property_type_Equestrian Facility     7734 non-null   float64
 46  property_type_Farm                    7734 non-null   float64
 47  property_type_Finca                   7734 non-null   float64
 48  property_type_Garage                  7734 non-null   float64
 49  property_type_Ground Flat             7734 non-null   float64
 50  property_type_Guest House             7734 non-null   float64
 51  property_type_Hospitality             7734 non-null   float64
 52  property_type_House                   7734 non-null   float64
 53  property_type_Land                    7734 non-null   float64
 54  property_type_Office                  7734 non-null   float64
 55  property_type_Other                   7734 non-null   float64
 56  property_type_Parking                 7734 non-null   float64
 57  property_type_Penthouse               7734 non-null   float64
 58  property_type_Plot                    7734 non-null   float64
 59  property_type_Property                7734 non-null   float64
 60  property_type_Restaurant              7734 non-null   float64
 61  property_type_Semi-detached           7734 non-null   float64
 62  property_type_Sheltered Housing       7734 non-null   float64
 63  property_type_Shop                    7734 non-null   float64
 64  property_type_Storage                 7734 non-null   float64
 65  property_type_Studio                  7734 non-null   float64
 66  property_type_Town House              7734 non-null   float64
 67  property_type_Warehouse               7734 non-null   float64
dtypes: float64(37), int64(31)
memory usage: 4.1 MB

,city_mean,bedrooms,bathrooms,indoor surface area in sqm,outdoor surface area in sqm,fully fitted kitchen,private terrace,air conditioning climate control,fitted wardrobes,close to shops,...,property_type_Plot,property_type_Property,property_type_Restaurant,property_type_Semi-detached,property_type_Sheltered Housing,property_type_Shop,property_type_Storage,property_type_Studio,property_type_Town House,property_type_Warehouse
9913,13,2,2,94,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3875,13,3,3,189,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2934,13,3,2,145,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6759,14,6,7,987,"1,871",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9047,13,2,2,168,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [328]:
X_tr.columns

Index(['city_mean', 'bedrooms', 'bathrooms', 'indoor surface area in sqm',
       'outdoor surface area in sqm', 'fully fitted kitchen',
       'private terrace', 'air conditioning climate control',
       'fitted wardrobes', 'close to shops', 'covered terrace',
       'electricity utilities', 'close to schools', 'excellent condition',
       'communal pool', 'south orientation', 'sea views', 'mountain views',
       'urbanisation', 'ensuite bathroom', 'close to sea', 'communal garden',
       'gated complex security', 'near transport', 'garden views',
       'double glazing', 'drinkable water utilities', 'close to town',
       'storage room', 'resale', 'lift', 'close to golf', 'investment',
       'panoramic views', 'private parking', 'Other',
       'property_type_Apartment', 'property_type_Bar / Nightclub',
       'property_type_Bungalow', 'property_type_Cafe',
       'property_type_Commercial Development',
       'property_type_Commercial Property', 'property_type_Detached',
       'property_type_Detached Villa', 'property_type_Duplex',
       'property_type_Equestrian Facility', 'property_type_Farm',
       'property_type_Finca', 'property_type_Garage',
       'property_type_Ground Flat', 'property_type_Guest House',
       'property_type_Hospitality', 'property_type_House',
       'property_type_Land', 'property_type_Office', 'property_type_Other',
       'property_type_Parking', 'property_type_Penthouse',
       'property_type_Plot', 'property_type_Property',
       'property_type_Restaurant', 'property_type_Semi-detached',
       'property_type_Sheltered Housing', 'property_type_Shop',
       'property_type_Storage', 'property_type_Studio',
       'property_type_Town House', 'property_type_Warehouse'],
      dtype='object')